<div class="page-wrapper chiller-theme toggled">

  <nav id="sidebar" class="sidebar-wrapper" [ngClass]="{'mini-sidebar': ToggleSideBar}">
    <div class="sidebar-content">
      <div class="sidebar-header" [style.display] = "ToggleSideBar ? 'none': 'block'">
        <img src="../assets/images/logo.svg" />
      </div>
      <div class="sidebar-header" [style.display] = "ToggleSideBar ? 'block': 'none'">
          <!-- <img src="../assets/images/logo.svg" /> -->
        <h1 style="color: #fff"> S </h1>
        </div>
      <div class="sidebar-menu">
        <ul class="sidebarlist" [ngClass]="{'hideMenulabel': ToggleSideBar}">
          <li>
            <a [routerLink]="['/inbox']" routerLinkActive="router-link-active">
              <i class="fa fa-tachometer-alt"></i>
              <span>Dashboard</span>
            </a>
          </li>

          <li>
            <a [routerLink]="['/inbox']" routerLinkActive="router-link-active">
              <i class="fa fa-book"></i>
              <span>Inbox</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-calendar"></i>
              <span>Import</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-calendar"></i>
              <span>Export</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-list"></i>
              <span>Inventory</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-list"></i>
              <span>Master Data Management</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-list"></i>
              <span>Ricardo</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-list"></i>
              <span>Administration</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->

  </nav>
  <!-- sidebar-wrapper  -->
  <main class="page-content" [ngClass]="{'max-width': ToggleSideBar}">
    <app-Header></app-Header>

    <router-outlet></router-outlet>

  </main>
  <!-- page-content" -->
</div>